.toggle-on {
    color: #008330 !important; /* green for ON */
}
.toggle-off {
    color: #dc2626 !important; /* red for OFF */
}
.content-panel {
    background: url("../assets/background.jpg") no-repeat center center;
    background-size: cover;
    background-color: rgb(30, 30, 30) !important;
}

.tpimage {
    min-width: 20rem !important; /* 256px */
    height: 28rem !important; /* 256px */
}

.grid-ffd {
    display: grid;
    grid-template-columns: 6fr, 1fr;
}

.marrekbtn {
    font-weight: bold !important;
    color: white !important;
}